nav {
    max-width: 1440px;
    width: 100%;
    min-height: 117px;
    color: #5988FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    margin: 0 auto;

    >img {

        &:first-child {
            width: 64px;
            height: 69px;
            z-index: 1;
        }

        &:last-child {
            display: none;
        }
    }

    >div {
        display: flex;
    }
}

a {
    text-decoration: none;
    color: unset;
    width: 110px;
    text-align: end;

    &:hover {
        font-weight: 700;
    }
}

@media(max-width: 1000px) {
    nav {

        >img {

            &:last-child {
                display: block;
            }
        }

        >div {
            display: none;
        }
    }
}

@media(max-width: 850px) {
    nav {
        padding: 0 20px;
    }
}