<nav>
    <img (click)="reloadPage()" src="./assets/img/logo.png" alt="logo white">
    <div>
        <a href="#aboutMe">About me</a>
        <a href="#skillSet">Skill set</a>
        <a href="#myWork">My work</a>
    </div>
    <img (click)="handleMenuBarMobile()" src="./assets/img/above_the_fold/burger_menu.png" alt="burger menu">
</nav>
<div [ngClass]="slideMenuBar()">
    <div>
        <img src="./assets/img/above_the_fold/logo_mobile.png" alt="logo blue">
        <img (click)="handleMenuBarMobile()" src="./assets/img/above_the_fold/close.png" alt="close">
    </div>
    <div>
        <a (click)="handleMenuBarMobile()" href="#aboutMe">About me</a>
        <a (click)="handleMenuBarMobile()" href="#skillSet">Skill set</a>
        <a (click)="handleMenuBarMobile()" href="#myWork">My work</a>
        <a (click)="handleMenuBarMobile()" href="#contact">Contact</a>
    </div>
</div>