<div [ngClass]="{ 'reverse-element': index % 2 !== 0 }" class="project-container">
    <a href="{{work.url}}" target="_blank"><img #animatedElement
            [ngStyle]="{ 'transform': (index % 2 !== 0) ? 'translateX(-50%)' : 'translateX(50%)' }"
            class="animated-element" src="./assets/img/my_work/project_{{work.img}}.png" alt="project"></a>
    <div [ngClass]="{ 'reverse-content': index % 2 !== 0 }">
        <h3>{{work.title}}</h3>
        <span>{{work.languages}}</span>
        <p>{{work.description}}</p>
        <button (click)="goToPage(work.title)" class="github-button">GitHub</button>
        <div class="mobile-button-container">
            <a href="{{work.url}}" target="_blank"><button i18n class="live-text-button">Live test</button></a>
            <button (click)="goToPage(work.title)" class="github-button-mobile">GitHub</button>
        </div>
    </div>
</div>