.above-the-fold-container {
    height: 100vh;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);

    >div {
        max-width: 1440px;
        width: 100%;
        height: calc(100% - 117px);
        padding: 0 60px;
        margin: 0 auto;
    }
}

.background-img {
    position: absolute;
    top: -200px;
    left: -220px;
    width: 900px;
}

.profile-picture {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 780px;
}

.small-background-img {
    position: absolute;
    bottom: -103px;
    left: 50%;
    transform: translateX(-50%);
    width: 206px;
    height: 206px;
    z-index: 2;
}

.right-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    >div {
        height: 50%;
        display: flex;
        flex-direction: column;
    }
}

.header-container {
    width: 50%;
    justify-content: center;

    >span {
        font-size: 64px;
        color: #5988FF;
    }

    >h1 {
        font-size: 120px;
        line-height: 120px;
        font-weight: 900;
        color: #5988FF;
        font-family: 'Baloo 2';
    }
}

.icons-container {
    justify-content: flex-end;
    padding-bottom: 80px;
    gap: 25px;

    >a {
        >img {
            transition: transform 0.2s ease;
            cursor: pointer;

            &:hover {
                transform: translateX(-10px);
            }
        }
    }
}

@media(max-width: 1360px) {
    .header-container {
        padding-left: 160px;

        >span {
            font-size: 48px;
        }

        >h1 {
            font-size: 80px;
            line-height: 80px;
        }
    }
}

@media(max-width: 1250px) {
    .header-container {
        padding-left: 160px;

        >span {
            font-size: 36px;
        }

        >h1 {
            font-size: 73px;
            line-height: 73px;
        }
    }
}

@media(max-width: 1200px) {
    .profile-picture {
        width: 700px;
    }

    .right-container {
        justify-content: flex-end;

        >div {
            height: unset;
        }
    }

    .header-container {
        position: absolute;
        top: 120px;
        left: 60px;
        z-index: 1;
        padding: 0;

        >span {
            font-size: 36px;
            color: white;
        }

        >h1 {
            font-size: 73px;
            line-height: 73px;
            color: white;
        }
    }
}

@media(max-width: 1010px) {
    .background-img {
        width: 750px;
    }
}

@media(max-width: 850px) {
    .right-container {
        display: unset;
    }

    .icons-container {
        display: none;
    }
}