<div class="above-the-fold-container">
    <app-navbar></app-navbar>
    <div style="position: relative;">
        <img class="background-img" src="./assets/img/above_the_fold/background.png" alt="background">
        <img class="profile-picture" src="./assets/img/above_the_fold/profile.png" alt="profile">
        <img class="small-background-img" src="./assets/img/above_the_fold/background.png" alt="background">
        <div class="right-container">
            <div class="header-container">
                <span>Hello! I am Vitalij</span>
                <h1>FRONTEND DEVELOPER</h1>
            </div>
            <div class="icons-container">
                <a href="https://github.com/VitalijSch" target="_blank"><img
                        src="./assets/img/above_the_fold/github.png" alt="github"></a>
                <a href="mailto:schwab.vitalij@gmail.com" target="_blank"><img
                        src="./assets/img/above_the_fold/email.png" alt="email"></a>
                <a href="https://www.linkedin.com/in/vitalij-schwab-3b15952a6/" target="_blank"><img
                        src="./assets/img/above_the_fold/linkedin.png" alt="linkedin"></a>
            </div>
        </div>
    </div>
</div>