.background-container {
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
}

.contact-container {
    max-width: 1440px;
    padding: 30px 100px;
    padding-bottom: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;

    >h2 {
        font-size: 90px;
        color: #5988FF;
        font-family: 'Baloo 2';
    }
}

.main-container {
    display: flex;
    column-gap: 100px;

    >div {
        height: 505px;
    }
}

.left-container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    >h3 {
        font-size: 32px;
        font-weight: 700;
        color: #5988FF;
    }

    >span {
        color: #5988FF;

        >span {
            font-weight: 800;
        }
    }
}

.arrow-top {
    width: 39px;
    height: 39px;
    position: absolute;
    bottom: 80px;
    left: 100px;
    cursor: pointer;
    background-image: url(./../../../assets/img/contact/arrow_top_default.png);

    &:hover {
        background-image: url(./../../../assets/img/contact/arrow_top_hover.png);
    }
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    >.input-container {
        display: flex;
        flex-direction: column;
        position: relative;

        >input {
            height: 50px;
        }

        >input,
        textarea {
            width: 617px;
            border-radius: 10px;
            border: 1px solid #5988FF;
            padding: 15px 25px;
            font-size: 16px;

            &:hover {
                border: 2px solid #5988FF
            }
        }
    }

    >.privacy-policy {
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: start;
        z-index: 10;

        >.checkbox {
            cursor: pointer;
            min-width: 18px;
            height: 18px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            &:hover {
                filter: drop-shadow(0px 0px 5px #797EF3);
            }
        }

        >div {

            >span {
                font-size: 14px;

                >a {
                    text-decoration: none;
                    color: #5988FF;
                    display: inline-block;
                    width: 180px;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        color: #0043F0;
                        font-weight: 700;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    >button {
        width: 181px;
        font-size: 23px;
        border-radius: 10px;
        padding: 15px 30px;
        box-shadow: 5px 5px 15px 0px hsla(0, 0%, 0%, 0.149);
        background-color: transparent;
        z-index: 1;
    }
}

.disabled-button {
    color: #BBBBBB;
    border: 2px solid #BBBBBB;
}

.enabled-button {
    cursor: pointer;
    color: #5988FF;
    border: 2px solid #5988FF;

    &:hover {
        color: #FFFFFF;
        transform: scale(1.1);
        animation: gradient-animation 0.05s ease-in-out forwards;
    }
}

.checkbox-checked {
    background-image: url(./../../../assets/img/contact/checked.png);
}

.checkbox-unchecked {
    background-image: url(./../../../assets/img/contact/check.png);
}

label {
    position: absolute;
    top: 15px;
    left: 25px;
    background-color: white;
    color: #999;
    transition: 0.2s;
    padding: 0 5px;
    pointer-events: none;
    font-size: 16px;
}

input:focus+label,
input:not(:placeholder-shown)+label,
textarea:focus+label,
textarea:not(:placeholder-shown)+label {
    top: -10px;
    left: 25px;
    color: #333;
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
}

.valid-container {
    position: absolute;
    top: 12.5px;
    right: 25px;
    height: 25px;
    width: 25px;
    background-size: contain;
}

.error-img {
    background-image: url(./../../../assets/img/contact/error.png);
}

.done-img {
    background-image: url(./../../../assets/img/contact/done.png);
}

.error-message {
    width: 100%;
    font-size: 14px;
    color: #E61C40;
    padding: 5px 0;
}



.background0 {
    width: 204px;
    height: 204px;
    position: absolute;
    bottom: 120px;
    left: 280px;
}

.background1 {
    width: 73px;
    height: 73px;
    position: absolute;
    bottom: 50px;
    right: 80px;
}

.pop-up-contact-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.feedback-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    >span {
        text-align: center;
        color: #5988FF;
        font-size: 40px;
        font-weight: 900;
    }
}