<div class="background-container">
    <div class="contact-container">
        @for (img of [0,1]; track $index) {
        <img class="background{{img}}" src="./assets/img/ball.png" alt="ball">
        }
        <h2>{{'contact.header' | translate}}</h2>
        <div class="main-container">
            <div class="left-container">
                <h3>{{'contact.subHeader' | translate}}</h3>
                <p>{{'contact.description' | translate}}</p>
                <span>{{'contact.text' | translate}}<span>{{'contact.smallText' | translate}}</span></span>
                <a class="arrow-top" href="#aboveTheFold"></a>
            </div>
            <div class="right-container">
                <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
                    <div class="input-container">
                        <div class="valid-container" [ngClass]="{
                            'error-img': !name.valid && name.touched && !name.disabled,
                            'done-img': name.valid && name.touched && !name.disabled
                            }">
                        </div>
                        <input #name="ngModel" [(ngModel)]="contactData.name" type="text" name="name" id="name"
                            placeholder="" pattern="[a-zA-Z0-9 ]*" maxlength="50" required>
                        <label for="name">{{'contact.yourName' | translate}}</label>
                        @if (!name.valid && name.touched && !name.disabled) {
                        <span class="error-message">{{'contact.errorMessageName' | translate}}</span>
                        }
                    </div>
                    <div class="input-container">
                        <div class="valid-container" [ngClass]="{
                            'error-img': !email.valid && email.touched && !email.disabled,
                                'done-img': email.valid && email.touched && !email.disabled
                                }"></div>
                        <input #email="ngModel" [(ngModel)]="contactData.email" type="email" name="email" id="email"
                            placeholder="" pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$" required>
                        <label for="email">{{'contact.email' | translate}}</label>
                        @if (!email.valid && email.touched && !email.disabled) {
                        <span class="error-message">{{'contact.errorMessageEmail' | translate}}</span>
                        }
                    </div>
                    <div class="input-container">
                        <div class="valid-container" [ngClass]="{
                            'error-img': !message.valid && message.touched && !message.disabled,
                            'done-img': message.valid && message.touched && !message.disabled
                            }"></div>
                        <textarea #message="ngModel" [(ngModel)]="contactData.message" name="message" id="message"
                            rows="10" placeholder="" maxlength="400" required></textarea>
                        <label for="message">{{'contact.message' | translate}}</label>
                        @if (!message.valid && message.touched && !message.disabled) {
                        <span class="error-message">{{'contact.errorMessageMessage' | translate}}</span>
                        }
                    </div>
                    <div class="privacy-policy">
                        <div (click)="handleCheckbox()"
                            [ngClass]="{'checkbox-checked': isChecked, 'checkbox-unchecked': !isChecked}"
                            class="checkbox"></div>
                        <div>
                            <span>
                                {{'contact.firstSpan' | translate}}
                                <a [ngStyle]="{ 'width': translationService.currentLanguage === 'en' ? '110px' : '180px' }"
                                    (click)="showPrivacyPolicy()">
                                    {{isPrivacyPolicy | translate}}
                                </a>
                                {{'contact.secondSpan' | translate}}
                            </span>
                        </div>
                    </div>
                    @if (showErrorCheckbox) {
                    <span class="error-message">{{'contact.errorMessagePrivacyPolicy' | translate}}</span>
                    }
                    <button class="disabled-button" [ngClass]="{
                        'enabled-button':
                        isChecked &&
                        name.valid &&
                        name.touched &&
                        !name.disabled &&
                        email.valid &&
                        email.touched &&
                        !email.disabled &&
                        message.valid &&
                        message.touched &&
                        !message.disabled}" type="submit">{{buttonName | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
@if(isSubmitted) {
<div class="pop-up-contact-container">
    <div class="feedback-container">
        <span [innerHTML]="'successfullyMessage' | translate"></span>
    </div>
</div>
}