<nav>
    <img (click)="showHomepage()" src="./assets/img/logo.png" alt="logo white">
    <div>
        <a href="#aboutMe">{{'header.aboutMe' | translate}}</a>
        <a href="#skillSet">{{'header.skillSet' | translate}}</a>
        <a href="#myWork">{{'header.myWork' | translate}}</a>
        <span class="langDe" (click)="translationService.switchLanguage('de')">DE</span>
        <span class="langEn" (click)="translationService.switchLanguage('en')">EN</span>
    </div>
    <img (click)="handleMenuBarMobile()" src="./assets/img/header/burger_menu.png" alt="burger menu">
</nav>
<div [ngClass]="slideMenuBar()">
    <div>
        <img src="./assets/img/header/logo_mobile.png" alt="logo blue">
        <img (click)="handleMenuBarMobile()" src="./assets/img/header/close.png" alt="close">
    </div>
    <div>
        <span class="langDe" (click)="translationService.switchLanguage('de')">DE</span>
        <span class="langEn" (click)="translationService.switchLanguage('en')">EN</span>
        <a (click)="handleMenuBarMobile()" href="#aboutMe">{{'header.aboutMe' | translate}}</a>
        <a (click)="handleMenuBarMobile()" href="#skillSet">{{'header.skillSet' | translate}}</a>
        <a (click)="handleMenuBarMobile()" href="#myWork">{{'header.myWork' | translate}}</a>
        <a (click)="handleMenuBarMobile()" href="#contact">{{'header.contact' | translate}}</a>
    </div>
</div>