<nav>
    <img (click)="showHomepage()" src="./assets/img/logo.png" alt="logo white">
    <div>
        <a i18n href="#aboutMe">About me</a>
        <a i18n href="#skillSet">Skill set</a>
        <a i18n href="#myWork">My work</a>
        <span class="langDe" (click)="changeLanguage('de-DE')">DE</span>
        <span class="langEn" (click)="changeLanguage('en-US')">EN</span>
    </div>
    <img (click)="handleMenuBarMobile()" src="./assets/img/header/burger_menu.png" alt="burger menu">
</nav>
<div [ngClass]="slideMenuBar()">
    <div>
        <img src="./assets/img/header/logo_mobile.png" alt="logo blue">
        <img (click)="handleMenuBarMobile()" src="./assets/img/header/close.png" alt="close">
    </div>
    <div>
        <span class="langDe" (click)="changeLanguage('de-DE')">DE</span>
        <span class="langEn" (click)="changeLanguage('en-US')">EN</span>
        <a i18n (click)="handleMenuBarMobile()" href="#aboutMe">About me</a>
        <a i18n (click)="handleMenuBarMobile()" href="#skillSet">Skill set</a>
        <a i18n (click)="handleMenuBarMobile()" href="#myWork">My work</a>
        <a i18n (click)="handleMenuBarMobile()" href="#contact">Contact</a>
    </div>
</div>