nav {
    max-width: 1440px;
    width: 100%;
    min-height: 117px;
    color: #5988FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 8;

    >img {

        &:first-child {
            width: 64px;
            height: 69px;
            cursor: pointer;
        }

        &:last-child {
            display: none;
            cursor: pointer;
        }
    }

    >div {
        width: 550px;
        display: flex;
        position: relative;
        gap: 20px;

        >span {
            position: absolute;
            bottom: -50px;
            cursor: pointer;

            &:hover {
                font-weight: 700;
            }
        }
    }
}

a {
    text-decoration: none;
    color: unset;
    width: 120px;
    text-align: end;
    z-index: 2;
    font-size: 23px;
    width: 100%;

    &:hover {
        font-weight: 700;
    }
}

.langEn {
    right: 50px;
}

.langDe {
    right: 0;
}

.menu-bar-mobile-container {
    position: fixed;
    top: 0;
    right: -200%;
    bottom: 0;
    left: 0;
    z-index: 10;
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    transition: right 0.3s ease;

    >div {

        &:first-child {
            width: 100%;
            min-height: 117px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >img {

                &:last-child {
                    cursor: pointer;
                }
            }
        }

        &:last-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1;
            gap: 29px;
        }

        span {
            position: absolute;
            right: 100px;
            color: #5988FF;
            cursor: pointer;

            &:hover {
                font-weight: 700;
            }
        }

        .langDe {
            top: 150px;
        }

        .langEn {
            top: 200px;
        }

        a {
            text-align: center;
            color: #5988FF;
            font-size: 40px;
            width: 300px;
        }
    }
}

.slide-from-right {
    right: 0;
}

@media(max-width: 1170px) {
    nav {

        >img {

            &:last-child {
                display: block;
            }
        }

        >div {
            display: none;
        }
    }
}

@media(max-width: 850px) {
    nav {
        padding: 0 20px;
    }

    .menu-bar-mobile-container {
        padding: 0 20px;

        >div {

            span {
                right: 20px;
            }
        }
    }
}

@media(max-width: 430px) {
    .menu-bar-mobile-container {

        >div {

            a {
                font-size: 23px;
            }
        }
    }
}

@media(max-height: 430px) {
    .menu-bar-mobile-container {
        >div {

            a {
                font-size: 24px;
            }
        }
    }
}