.my-work-container {
    max-width: 1440px;
    padding: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    overflow-x: hidden;

    >h2 {
        font-size: 96px;
        line-height: 96px;
        font-family: 'Baloo 2';
        color: #5988FF;
        z-index: 2;
    }

    >.description {
        width: 673px;
        font-size: 23px;
        z-index: 2;
    }
}

.background0 {
    width: 109px;
    height: 109px;
    position: absolute;
    top: 50px;
    left: 655px;
}

.background1 {
    width: 183px;
    height: 183px;
    position: absolute;
    top: 220px;
    right: 60px;
}

.background2 {
    width: 393px;
    height: 393px;
    position: absolute;
    top: 560px;
    left: -200px;
}

.background3 {
    width: 652px;
    height: 652px;
    position: absolute;
    top: 820px;
    right: -160px;
}

.background4 {
    width: 51px;
    height: 51px;
    position: absolute;
    top: 1200px;
    left: 100px;
}

.background5 {
    width: 180px;
    height: 180px;
    position: absolute;
    bottom: 20px;
    left: 620px;
}

@media(max-width: 1230px) {
    .my-work-container {

        >h2 {
            width: 620px;
            margin: 0 auto;
        }

        >.description {
            width: 620px;
            margin: 0 auto;
        }
    }
}

@media(max-width: 1000px) {
    .background0 {
        left: 663px;
    }

    .background3 {
        width: 500px;
        height: 500px;
        top: 850px;
    }
}

@media(max-width: 850px) {
    .my-work-container {
        padding: 100px 20px;
    }
}

@media(max-width: 700px) {
    .my-work-container {

        >h2 {
            width: 450px;
        }

        >.description {
            width: 450px;
        }
    }

    .background3 {
        right: -270px;
    }
}

@media(max-width: 480px) {
    .my-work-container {

        >h2 {
            width: 340px;
            font-size: 64px;
        }

        >.description {
            width: 340px;
        }
    }

    .background0 {
        width: 45px;
        height: 45px;
        top: 50px;
        left: 263px;
    }

    .background1 {
        width: 70px;
        height: 70px;
        top: 330px;
        right: 40px;
    }

    .background2 {
        width: 250px;
        height: 250px;
        top: 520px;
        left: -120px;
    }

    .background3 {
        width: 300px;
        height: 300px;
        top: 942px;
        right: -100px;
    }

    .background4 {
        top: 1190px;
    }
}

@media(max-width: 400px) {
    .my-work-container {

        >h2 {
            width: 300px;
        }

        >.description {
            width: 300px;
        }
    }

    .background2 {
        top: 500px;
    }

    .background3{
        right: -150px;
    }
}