<div class="background-container">
    <div class="contact-container">
        @for (img of [0,1]; track $index) {
        <img class="background{{img}}" src="./assets/img/ball.png" alt="ball">
        }
        <h2>Contact</h2>
        <div class="main-container">
            <div class="left-container">
                <h3>Got a problem to solve?</h3>
                <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and
                    contributing to
                    your projects with my work.</p>
                <span>Need a Frontend developer? <span>Contact me!</span></span>
                <a class="arrow-top" href="#aboveTheFold"></a>
            </div>
            <div class="right-container">
                <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                    <div class="input-container">
                        <div class="valid-container" [ngClass]="{'error-img': !name.valid && name.touched && !name.disabled,
                            'done-img': name.valid && name.touched && !name.disabled}">
                        </div>
                        <input #name="ngModel" [(ngModel)]="contactData.name" type="text" name="name" id="name"
                            placeholder="" pattern="[a-zA-Z0-9 ]*" maxlength="50" required>
                        <label for="name">Your name</label>
                        @if (!name.valid && name.touched && !name.disabled) {
                        <span class="error-message">Your name is required</span>
                        }
                    </div>
                    <div class="input-container">
                        <div class="valid-container" [ngClass]="{'error-img': !email.valid && email.touched && !email.disabled,
                                'done-img': email.valid && email.touched && !email.disabled}"></div>
                        <input #email="ngModel" [(ngModel)]="contactData.email" type="email" name="email" id="email"
                            placeholder="" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
                        <label for="email">Your email</label>
                        @if (!email.valid && email.touched && !email.disabled) {
                        <span class="error-message">Your email is required</span>
                        }
                    </div>
                    <div class="input-container">
                        <div class="valid-container" [ngClass]="{'error-img': !message.valid && message.touched && !message.disabled,
                            'done-img': message.valid && message.touched && !message.disabled}"></div>
                        <textarea #message="ngModel" [(ngModel)]="contactData.message" name="message" id="message"
                            rows="10" placeholder="" maxlength="400" pattern="[a-zA-Z0-9,.?!-]*" required></textarea>
                        <label for="message">Your message</label>
                        @if (!message.valid && message.touched && !message.disabled) {
                        <span class="error-message">Your message is required</span>
                        }
                    </div>
                    <div class="privacy-policy">
                        <div (click)="handleCheckbox()"
                            [ngClass]="{'checkbox-checked': isChecked, 'checkbox-unchecked': !isChecked}"
                            class="checkbox"></div>
                        <div>
                            <span>
                                I've read the <a href="">privacy policy </a> and agree to the processing of my data as
                                outlined.
                            </span>
                        </div>
                    </div>
                    @if (showErrorCheckbox) {
                    <span class="error-message">Please accept the privacy policy.</span>
                    }
                    <button class="disabled-button" [ngClass]="{
                        'enabled-button':
                        isChecked &&
                        name.valid &&
                        name.touched &&
                        !name.disabled &&
                        email.valid &&
                        email.touched &&
                        !email.disabled &&
                        message.valid &&
                        message.touched &&
                        !message.disabled}" type="submit">{{'Say hello ;)'}}</button>
                </form>
            </div>
        </div>
    </div>
</div>