<div class="background-container">
    <div class="contact-container">
        @for (img of [0,1]; track $index) {
        <img class="background{{img}}" src="./assets/img/ball.png" alt="ball">
        }
        <h2>Contact</h2>
        <div class="main-container">
            <div class="left-container">
                <h3>Got a problem to solve?</h3>
                <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and
                    contributing to
                    your projects with my work.</p>
                <span>Need a Frontend developer? <span>Contact me!</span></span>
                <a class="arrow-top" href="#aboveTheFold"></a>
            </div>
            <div class="right-container">
                <form action="">
                    <input type="text" id="name">
                    <input type="email" id="email">
                    <textarea id="message"></textarea>
                    <div>
                        <img src="./assets/img/contact/check.png" alt="checkbox">
                        <span>I've read the <a href="">privacy policy </a> and agree to the processing of my data as
                            outlined.</span>
                    </div>
                    <button>{{'Say hello ;)'}}</button>
                </form>
            </div>
        </div>
    </div>
</div>