.aboute-me-container {
    max-width: 1440px;
    width: 100%;
    padding: 200px 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    opacity: 0;
    position: relative;
    animation: opacityAnimation linear forwards;
    animation-timeline: scroll();
    animation-range: contain;

    >img {
        width: 82px;
        height: 82px;
        position: absolute;
        right: 20%;
        top: 80px;
    }

    >span {
        font-size: 121px;
        font-weight: 900;
        line-height: 121px;
        color: #5988FF;
        font-family: 'Baloo 2';
        width: 50%;
        word-wrap: break-word;
    }

    >div {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        >p {
            font-size: 23px;
            line-height: 27px;
        }

        >a {
            text-decoration: none;
            border: 2px solid #5988FF;
            border-radius: 10px;
            background-color: white;
            color: #5988FF;
            padding: 15px 30px;
            font-size: 23px;
            box-shadow: 5px 5px 15px 0px #00000026;
            cursor: pointer;

            &:hover {
                color: #FFFFFF;
                transform: scale(1.1);
                animation: gradient-animation 0.05s ease-in-out forwards;
            }
        }
    }
}

@media(max-width: 1300px) {
    .aboute-me-container {

        span {
            font-size: 80px;
            line-height: 80px;
            align-self: center;
        }
    }
}

@media(max-width: 1000px) {
    .aboute-me-container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        text-align: center;

        >span {
            display: block;
            width: 100%;
            hyphens: auto;
        }
    }
}

@media(max-width: 850px) {
    .aboute-me-container {
        padding-right: 20px;
        padding-left: 20px;

        >img {
            width: 61px;
            height: 61px;
            right: 10%;
        }
    }
}

@media(max-width: 550px) {
    .aboute-me-container {
        animation: unset;
        opacity: 1;

        span {
            font-size: 70px;
            line-height: 70px;
        }
    }
}

@media(max-width: 400px) {
    .aboute-me-container {

        span {
            font-size: 60px;
            line-height: 60px;
        }
    }
}