<div class="aboute-me-container">
    <img src="./assets/img/ball.png" alt="">
    <span>Let`s work<br>together</span>
    <div>
        <p>
            I am a Front-end developer based in Lahr, in the Black Forest Germany. I enjoy helping designers and
            companies bring
            their
            ideas into real life. I am looking forward to continuing my developer career with a job in a junior web
            developer position.
            <br><br>
            If you think I’d be a good match for your projects, contact me!
        </p>
        <a href="#contact">Send a message</a>
    </div>
</div>