<div class="background-container">
    <div class="footer-container">
        <div class="top-container">
            <a href="#aboveTheFold"><img src="./assets/img/logo.png" alt="logo"></a>
            <span>© Vitalij Schwab {{currentYear()}}</span>
            <div class="icons-container">
                <a href="https://github.com/VitalijSch" target="_blank"><img src="./assets/img/footer/github.png"
                        alt="github"></a>
                <a href="mailto:schwab.vitalij@gmail.com" target="_blank"><img src="./assets/img/footer/email.png"
                        alt="email"></a>
                <a href="https://www.linkedin.com/in/vitalij-schwab-3b15952a6/" target="_blank"><img
                        src="./assets/img/footer/linkedin.png" alt="linkedin"></a>
            </div>
        </div>
        <div class="impressum-container">
            <a href="">Impressum</a>
        </div>
    </div>
</div>