<div class="background-container">
    <div class="imprint-container">
        <img class="background-img" src="./assets/img/ball.png" alt="background">
        <h1 i18n>Impressum</h1>
        <p>Vitalij Schwab<br />
            Kirschbaumallee 18<br />
            77933 Lahr</p>
        <h2 i18n>Kontakt</h2>
        <p i18n>Telefon: 017663373456<br />
            E-Mail: {{'mail@vitalij-schwab.com'}}</p>
        <p i18n>Quelle: <a
                href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
        </p>
    </div>
</div>