<div class="background-container">
    <div class="imprint-container">
        <img class="background-img" src="./assets/img/ball.png" alt="background">
        <h1>{{'imprint.imprint' | translate}}</h1>
        <p>Vitalij Schwab<br />
            Kirschbaumallee 18<br />
            77933 Lahr</p>
        <h2>{{'imprint.contact' | translate}}</h2>
        <p>{{'imprint.phone' | translate}}: 017663373456<br />
            E-Mail: {{'mail@vitalij-schwab.com'}}</p>
        <p>{{'imprint.source' | translate}}: <a
                href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
        </p>
    </div>
</div>